.oe_form_field,
.oe_form_field_one2many,
.oe_form_group,
.oe_subtotal_footer,
.oe_right {
    box-sizing: border-box;
}


/* head button */
/* Default layout for larger screens */
.oe_view_manager_header {
    width: 100%;
    table-layout: fixed;
}

.oe_header_row {
    flex-wrap: wrap;
    align-items: center;
}

.oe_header_row td {
    flex: 1;
    padding: 10px;
}

/* Flexbox for the button groups */
.oe_view_manager_buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.oe_view_manager_sidebar, .oe_view_manager_switch {
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

